<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ4JRl3AvqSJzJlgKf7Tu0VIIV1FMgN9U</string>
	<key>GCM_SENDER_ID</key>
	<string>30888011060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.sndapp</string>
	<key>PROJECT_ID</key>
	<string>sand-98353</string>
	<key>STORAGE_BUCKET</key>
	<string>sand-98353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30888011060:ios:d1f473f5b1c49726f4b161</string>
</dict>
</plist>